<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.super.cool" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Super</name><DESCRIPTION>Awesome PLugin</DESCRIPTION><js-module name="Super" src="www/Super.js"><clobbers target="cordova.plugins.Super" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Super"><param name="ios-package" value="Super" /></feature></config-file><source-file src="src/ios/Super.m" /></platform></plugin>